v1.00

startVillages 4.0
startHapiness 1.0
startFood 10
startLumber 250
startGold 50
startMaxVillages 6
basicVillageFoodIncome 0.4

krakenStartGhosts 1.0

fishingCabinLumber 80
fishingCabinTime 5
fishingCabinGold 0
fishingCabinUpkeepD1 21
fishingCabinUpkeepD2 23
fishingCabinUpkeepD3 26
fishingCabinUpkeepD4 28
fishingCabinUpgradeLumber 100
fishingCabinUpgradeStone 5
fishingCabinUpgradeGold 50
fishingCabinUpgradeUpkeep 40

townHallLumber 0
townHallTime 0
townHallGold 0
townHallUpkeepD1 0
townHallUpkeepD2 0
townHallUpkeepD3 0
townHallUpkeepD4 0
townHallUpgradeLumber 100
townHallUpgradeStone 10
townHallUpgradeGold 50
townHallUpgradeUpkeep 0

breweryLumber 80
breweryTime 5
breweryGold 40
breweryUpkeepD1 24
breweryUpkeepD2 27
breweryUpkeepD3 30
breweryUpkeepD4 32
breweryUpgradeLumber 100
breweryUpgradeStone 10
breweryUpgradeGold 50
breweryUpgradeUpkeep 57

woodCutterLumber 50
woodCutterTime 5
woodCutterGold 40
woodCutterUpkeepD1 19
woodCutterUpkeepD2 21
woodCutterUpkeepD3 23
woodCutterUpkeepD4 25
woodCutterUpgradeLumber 50
woodCutterUpgradeStone 10
woodCutterUpgradeGold 50
woodCutterUpgradeUpkeep 36

scoutCampLumber 50
scoutCampTime 20
scoutCampGold 0
scoutCampUpkeepD1 15
scoutCampUpkeepD2 16
scoutCampUpkeepD3 18
scoutCampUpkeepD4 20
scoutCampUpgradeLumber 50
scoutCampUpgradeStone 5
scoutCampUpgradeGold 50
scoutCampUpgradeUpkeep 28

hergLumber 80
hergTime 5
hergGold 0
hergUpkeepD1 24
hergUpkeepD2 27
hergUpkeepD3 30
hergUpkeepD4 32
hergUpgradeLumber 60
hergUpgradeStone 10
hergUpgradeGold 0
hergUpgradeUpkeep 57

longshipDockLumber 80
longshipDockTime 5
longshipDockGold 0
longshipDockUpkeepD1 27
longshipDockUpkeepD2 30
longshipDockUpkeepD3 33
longshipDockUpkeepD4 36
longshipDockUpgradeLumber 100
longshipDockUpgradeStone 10
longshipDockUpgradeGold 0
longshipDockUpgradeUpkeep 52